.login-layout {
  display: flex;
  height: 100vh;
  // justify-content: center;
  background: rgb(237, 245, 242);
  align-items: center;
  .form-layout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .ant-form {
    width: 80%;
  }
  .ant-form-item-label {
    width: 20%;
    text-align: left;
  }
  .slick-dots-bottom {
    height: unset !important;
  }
  .ant-carousel {
    height: 100vh;
    width: 60%;
  }
  // .img {
  //   height: 100vh;
  // }
  .slick-slider {
    height: 100%;
  }
  .slick-list {
    height: 100%;
  }
  img {
    height: 100vh;
    object-fit: cover;
  }
}
